[submodule "sites/all/modules/advanced_help"]
	path = sites/all/modules/advanced_help
	url = http://git.drupal.org/project/advanced_help.git
#	url = ssh://git@git.drupal.org/project/advanced_help.git
